---
layout: page
title: "About"
description: "Yet another programmer"
header-img: "img/about-bg.jpg"
---

<!-- Language Selector -->
<select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 </option>
    <option value="1"> English </option>
</select>

<!-- Chinese Version -->
<div class="zh">

    <blockquote>
        <p>
            写写程序，做做研究。<br>
            世界那么大，我想去看看。
        </p>
    </blockquote>

    <p>Hey，我是<strong>张鹤</strong>，<a href="http://www.hqu.edu.cn/">华侨大学</a>计算摄影方向在读研究生，将于2017年6月毕业。我喜欢用计算机描绘这个世界！</p>

    <p>C/C++六年驾龄的老司机、目前对计算摄影（Computational Photography）和低级视觉（Low-level Vision）感兴趣，平时喜欢看书，旅行；以前在<a href="http://blog.csdn.net/bluecol" target="_blank">CSDN</a>记录分享图像视觉编程。</p>

    <p>一些关于我的论文和项目，请戳<a href="http://herzhang.github.io/portfolio/">作品集</a>。</p>

    <p>herzhang91 # gmail DOT com</p>
</div>

<!-- English Version -->
<div class="en">
    
    <blockquote>
        <p>
            Eat free food, do research, <br>
            change the world, and become rich..
        </p>
    </blockquote>

    <p>Hi, Here is <strong>He Zhang</strong>. I am currently a second year M.S. student at <a href="http://www.hqu.edu.cn/">Huaqiao University</a>, working at PR&CVLab advised by Xin Liu. I received my bachelor degree from Anyang Institute of Technology in 2014. My research interest is low-level computer vision, image processing and computer graphics.</p>

    <p>I have strong programming skills in C/C++, Matlab, and writing blog in <a href="http://blog.csdn.net/bluecol" target="_blank">CSDN</a>. </p>

    <p>For more about my publications and projects, please visit my <a href="http://herzhang.github.io/portfolio/">Portfolio</a>.</p>

    <p>Contact me：herzhang91 # gmail DOT com</p>
</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    function onLanChange(index){
        if(index == 0){
            $zh.style.display = "block";
            $en.style.display = "none";
        }else{
            $en.style.display = "block";
            $zh.style.display = "none";
        }
    }
    onLanChange(0);
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- Duoshuo hacking -->
<input id="dsUser" type="hidden" value="{{site.duoshuo_username}}"  />

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = document.getElementById('dsUser').value;
    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
